{% extends 'core/base.html' %}

{% block content %}

<section class="hero">

    <h1>À propos de REFAC-COM</h1>

    <p>
        Basée au Bénin et intervenant à l’échelle nationale et sous-régionale,
        REFAC-COM est une organisation engagée dans la promotion
        du leadership des femmes et des jeunes ainsi que dans
        le développement communautaire inclusif et durable.
    </p>

    <p>
        À travers des programmes intégrés, des actions de plaidoyer,
        des formations et des initiatives communautaires,
        l’organisation contribue à renforcer les capacités locales,
        promouvoir l’égalité des chances et encourager la participation
        active des femmes et des jeunes dans les dynamiques de transformation sociale.
    </p>

    <h2>Notre vision</h2>

    <p>
        Bâtir des communautés équitables et solidaires où les femmes
        et les jeunes, pleinement autonomes, participent activement
        au développement à la base.
    </p>

    <h2>Notre mission</h2>

    <p>
        Renforcer les capacités des femmes et des jeunes,
        promouvoir leur autonomisation et mobiliser les acteurs
        étatiques et non étatiques afin de favoriser un développement
        inclusif, équitable et durable.
    </p>

</section>

{% endblock %}